# Syntaxe : <pattern de fichier>  <@utilisateur ou @org/équipe>

# Par défaut : tout changement requiert une review de ces personnes
*                          @thomase-spl

# Les workflows CI/CD ne peuvent être modifiés que par le lead DevOps
.github/workflows/         @thomase-spl

# Le fichier de dépendances requiert une validation technique
ressources/requirements.txt  @thomase-spl

# Les fichiers de sécurité requièrent une double validation
.github/dependabot.yml     @thomase-spl
.github/CODEOWNERS         @thomase-spl
